[submodule "components/esp-homekit-sdk"]
	path = components/esp-homekit-sdk
	url = https://github.com/espressif/esp-homekit-sdk.git
[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot.git

